html {
  scroll-behavior: smooth;
}

.btn-ghost {
  color: #212832;
  border: 1px solid #4a4a4a;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-flat {
  color: white;
  padding: 5px 8px;
  border-radius: 10px;
  background: #212832bb;
  transition: 0.6s ease;
  font-size: larger;
}

.btn-flat-2 {
  color: white;
  padding: 5px 8px;
  border-radius: 10px;
  background: #212832bb;
  transition: 0.6s ease;
  font-size: larger;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167ffb, #0f60c4);
  transition: background 0.3s ease;
  border: 1px solid #0f60c4;
}

.btn-gradient:hover {
  background: linear-gradient(#147eff, #0f67da);
  color: white;
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}

.cursor {
  width: 3rem;
  height: 3rem;
  border: 2px solid #7f858d;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.5s ease-in-out;
  transition-property: background, transform;
  transform-origin: 75% 75%;
}

.cursor.active {
  background: #dae7fb;
  transform: scale(2);
}

.dark-white {
  background-color: blanchedalmond;
}

.grey {
  background-color: #21283210;
}

.slideshow-container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.slideshow-item {
  width: inherit;
  height: inherit;
  position: absolute;
  opacity: 0;
  animation: cycleImages 31s infinite;
}

.slideshow-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slideshow-item-text {
  max-width: 50%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 10rem 5rem;
}

.slideshow-item-text h5 {
  font-size: 5rem;
  text-transform: uppercase;
}

.rotate {
  animation: rotation 16s infinite linear;
}

@keyframes cycleImages {
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.social {
  font-size: 20px !important;
}

.main-image {
  border-radius: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  height: 3rem;
  width: auto;
}

.badgy {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-weight: 400;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.35rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
}

.top {
  position: fixed;
  bottom: 55px;
  right: -100px;
  z-index: 5;
  width: 40px;
  height: 40px;
  font-size: 22px;
  line-height: 40px;
  cursor: pointer;
  transition: all 0.25s ease;
}

.is-active {
  right: 40px;
}
